<div class="card bg-dark text white">
    <div class="card-header"> {{title}}</div>
    <div class="card-body ">

        <form>
            <div class="form-group row">
                <label for="name" class="col-form-label col-sm-2">Name</label>
                <input type="text" [(ngModel)]="cliente.name" name="name" class="form-control col-sm-2" placeholder="Name">
            </div>
            <div class="form-group row">
                <label for="lastName" class="col-form-label col-sm-2">Last Name</label>
                <input type="text" [(ngModel)]="cliente.lastName" name="lastName" class="form-control col-sm-2" placeholder="LastName">
            </div>
            <div class="form-group row">
                <label for="email" class="col-form-label col-sm-2">Email address</label>
                <input type="text" [(ngModel)]="cliente.email" name="email" class="form-control col-sm-2" placeholder="Enter email">
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary" role="button" (click)=create() *ngIf="!cliente.id else elseBlock">Submit</button>
            </div>
            <ng-template #elseBlock>
                <button type="submit" class="btn btn-primary" role="button" (click)=update()>Submit</button>
            </ng-template>

        </form>

    </div>

</div>